.header-nav {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.link {
  margin-right: 25px;
}

.book-div {
  background-color: rgb(242, 245, 247);
  margin-bottom: 10px;
  padding: 10px;
}